body {
  padding-left: 25%;
  padding-right: 25%;
  color: #9966FF;
  padding-top:10px;
  font: 20px "", Verdana;
  line-height: 1.8;
  background-image: url(img/congruent_pentagon.png)

}

code {
  font: 14px "Monaco", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1000px){
  body{
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 765px){
  body{
    padding-left: 10%;
    padding-right: 5%;
  }
}

#home {
  color: black; 
  text-decoration:none;
  background-color:#9999FF;
  padding: 15px;
  color: white;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
  border-radius: 10px;
}

#home:hover {
  background: #ff7b29;
  border-radius: 50%;

}

footer {
  padding-top: 100px;
}

img {
  width: 100%;
}

hr {
  border: 0;
  background: #000;
  height: 1px;
}

a {
  color:#9933FF;
  text-decoration:none;
  font-size: 100%;
}

a:hover {
  color:#33CCFF;
  text-decoration:none;
}

.card-container {
  cursor: pointer;
  height: 100px;
  perspective: 600;
  position: relative;
  width: 150px;
  display: inline-block;
  padding: 60px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background-image: url(img/congruent_pentagon.png)
  color: white;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}